<h1>New Question</h1>
<%= form_with scope: :question, url: :questions, local: true do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>