<h1>New Question</h1>
<%= form_with model: @question, url: questions_path, local: true do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Create Question' %>
  </p>
<% end %>
